        body {
            font-family: Tahoma, Verdana, Segoe, sans-serif;
            background-color: rgb(43, 43, 43);
            color: white;
            text-align: center;
            margin-top: 5%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            position: relative;
        }
        .container {
            background: rgba(255, 255, 255, 0.1);
            padding: 20px;
            border-radius: 15px;
            display: inline-block;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
            background-size: cover; /* Ensure the background covers the area */
            background-position: center; /* Center the background image */
            backdrop-filter: blur(6px);
            position: relative;
            overflow: hidden;
            width: 80%;
            max-width: 450px;
            height: 1100px;
            overflow-y: auto;
        }
        #timer {
            font-size: 3rem;
            font-weight: bold;
            padding: 10px 20px;
            background: rgba(255, 255, 255, 0.5);
            border-radius: 10px;
            display: flex;
            color: inherit;
            margin-top: 10px;
            min-width: 250px;
            justify-content: center;
            backdrop-filter: blur(6px);
        }

        #stopwatch, #timerDisplay {
            font-size: 2rem;
            font-weight: bold;
            padding: 10px 20px;
            background: rgba(255, 255, 255, 0.5);
            border-radius: 10px;
            color: inherit;
            margin-top: 10px;
            backdrop-filter: blur(6px);
        }
        .stopwatch-controls, .timer-controls {
          margin-top: 20px;
        }
        .stopwatch-btn, .timer-btn, .notesSave, .closeLog {
            padding: 10px 20px;
            background-color: rgba(0, 0, 0, 0.3);
            color: white;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            font-size: 1rem;
            margin: 6.5px 10px;
            backdrop-filter: blur(6px);
        }
        .stopwatch-btn:hover, .timer-btn:hover, .notesSave:hover, .closeLog:hover {
            background-color: rgba(0, 0, 0, 0.6);
            backdrop-filter: blur(6px);
        }
        select, input[type="file"] {
            font-size: 1rem;
            padding: 10px;
            margin-top: 10px;
            border-radius: 10px;
            border: none;
            cursor: pointer;
            background: rgba(0, 0, 0, 0.3);
            color: white;
        }
        input[type="file"] {
            display: none;
        }
        .upload-btn {
            background-color: rgba(0, 0, 0, 0.6);
            color: white;
            padding: 10px;
            cursor: pointer;
            border-radius: 10px;
            display: inline-block;
            margin-top: 10px;
        }
        .upload-btn:hover {
            background-color: rgba(0, 0, 0, 0.2);
            transition: ease-in-out;
        }
        .reset-btn {
            padding: 10px 20px;
            background-color: white; /* Change background color to white */
            color: black; /* Change text color to black for contrast */
            border: none;
            border-radius: 10px;
            cursor: pointer;
            font-size: 1rem;
            margin-top: 20px;
            backdrop-filter: blur(6px);
        }
        .reset-btn:hover {
            background-color: rgba(235, 235, 235, 1); /* Optional: Change hover effect for better visibility */
            transition: ease-in-out;
        }
        #urlInput {
          padding: 15px 20px;
          display: flex;
          justify-content: center;
          background: rgba(255, 255, 255, 0.1);
          border-radius: 10px;
          margin-top: 10px;
          align-items: center;
          backdrop-filter: blur(6px);
        }
        #urlInput2, #uploadInput {
          justify-content: center;
          background: rgba(255, 255, 255, 0.1);
          backdrop-filter: blur(6px);
          border-radius: 10px;
          padding: 15px 15px;
        }
        #selectTimezone {
          align-items: center;
          justify-content: center;
          background: rgba(255, 255, 255, 0.1);
          backdrop-filter: blur(6px);
          border-radius: 10px;
          align-items: center;
          padding: 15px 8.5px;
        }
        #titleBig {
          align-items: center;
          justify-content: center;
          background: rgba(255, 255, 255, 1);
          border-radius: 10px;
          padding: 20px 0px;
        }
        #imageUrl, #inputTime {
          border-radius: 10px;
          padding: 10px;
        }
        .sideMenu {
            background: rgba(255, 255, 255, 0.1);
            padding: 20px;
            border-radius: 15px;
            display: inline-block;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
            background-size: cover; /* Ensure the background covers the area */
            background-position: center; /* Center the background image */
            backdrop-filter: blur(6px);
            overflow: hidden;
            width: 80%;
            max-width: 450px;
            height: 1100px;
            overflow-y: auto;
        }
        .fullscreenButton {
          border-radius: 10px;
          padding: 7px;
          width: 50%;
          color: inherit;
          background: rgba(255, 255, 255, 0.2);
          font-size: 20px;
          backdrop-filter: blur(6px);
          transition: ease-in-out;
          border-style: none;
        }
        .fullscreenButton:hover {
          transition: ease-out;
          background: rgba(230, 230, 230, 0.5);
          transition: ease-in-out;
        }
        #countdownBordering {
          padding: 10px 20px;
          background: rgba(255, 255, 255, 0.1);
          border-radius: 10px;
          margin-top: 10px;
          backdrop-filter: blur(6px);
        }
        .container {
            transition: background 0.5s ease; /* Smooth background transition */
        }
        
        .stopwatch-btn:hover, .timer-btn:hover {
            transition: background 0.3s ease; /* Smooth button hover transition */
        }
        
        #timer {
            transition: opacity 0.5s ease; /* Smooth opacity change */
        }
        #headers {
          padding: 10px 20px;
          background: rgba(45, 45, 45, 0.4);
          border-radius: 10px;
          display: flex;
          margin-top: 10px;
          min-width: 250px;
          justify-content: center;
          backdrop-filter: blur(6px);
        }
        #notepad {
          border-radius: 10px;
        }
        #bottomLinks {
          align-items: center;
          justify-content: center;
          background: rgba(255, 255, 255, 0.1);
          backdrop-filter: blur(6px);
          border-radius: 10px;
          align-items: center;
          padding: 15px 8.5px;
          padding-bottom: 20px;
          margin-top: 17px;
        }
        .rightSideMenu {
            position: fixed;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            background: rgba(0, 0, 0, 0.1);
            padding: 20px;
            backdrop-filter: blur(6px);
            border-radius: 10px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
            width: 290px; /* Adjust width as needed */
            color: white; /* Adjust text color as needed */
            z-index: 1000; /* Ensure it stays above other content */
            overflow: hidden; /* Ensures image is cropped */
        }
        .leftSideMenu {
            position: fixed;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            background: rgba(0, 0, 0, 0.1);
            padding: 20px;
            backdrop-filter: blur(6px);
            border-radius: 10px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
            width: 290px; /* Adjust width as needed */
            color: white; /* Adjust text color as needed */
            z-index: 1000; /* Ensure it stays above other content */
            overflow: hidden; /* Ensures image is cropped */
        }
        .containerANDsideMenu {
            display: block;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
            background-size: cover; /* Ensure the background covers the area */
            background-position: center; /* Center the background image */
            backdrop-filter: blur(6px);
            position: relative;
            overflow: hidden;
            border-radius: 15px;
            padding-top: 15px;
            padding-bottom: 15px;
        }
        @media (max-width: 600px) {
            .container, .sideMenu, .rightSideMenu {
                width: 90%; /* Use a higher percentage for smaller screens */
                height: auto; /* Allow height to adjust based on content */
            }
            #timer {
                font-size: 2rem; /* Adjust font size for better readability */
            }
            #stopwatch, #timerDisplay {
                font-size: 1.5rem; /* Adjust font size for better readability */
            }
            .upload-btn, .reset-btn {
                padding: 8px; /* Adjust button size for touch usability */
            }
        }
        .toggle-btn {
            background: rgba(255, 255, 255, 3);
            border-radius: 10px;
            color: black; /* Change as needed */
            font-size: 24px; /* Adjust size as needed */
            cursor: pointer;
            position: fixed; /* Keep it fixed on the screen */
            right: 10px; /* Adjust to desired position */
            top: 50%; /* Center vertically */
            transform: translateY(-50%); /* Center vertically */
            z-index: 1001; /* Ensure it stays above other content */
            transition: right 0.3s ease; /* Smooth transition */
            padding-top: 35px;
            padding-bottom: 35px;
            padding-left: 3px;
            border-style: none;
        }
        .toggle-btn-left {
            background: rgba(255, 255, 255, 3);
            border-radius: 10px;
            color: black; /* Change as needed */
            font-size: 24px; /* Adjust size as needed */
            cursor: pointer;
            position: fixed; /* Keep it fixed on the screen */
            left: 10px; /* Adjust to desired position */
            top: 50%; /* Center vertically */
            transform: translateY(-50%); /* Center vertically */
            z-index: 1001; /* Ensure it stays above other content */
            transition: left 0.3s ease; /* Smooth transition */
            padding-top: 35px;
            padding-bottom: 35px;
            padding-right: 3px;
            border-style: none;
        }
        #splashScreen {
            transition: opacity 1s ease-out; /* Smooth transition for fading */
        }
        #continueButton {
          transition: opacity 1s ease-in;
        }
        #arttimerOSText {
          border-radius: 10px;
          padding: 10px;
          margin-top: 10px;
          margin-bottom: 10px;
          background-color: rgba(255, 255, 255, 0.2);
          display: flex;
          font-size: 30px;
        }
        #checklistBoxedin {
          border-radius: 10px;
          padding: 10px;
          background-color: rgba(200, 200, 200, 0.1);
          backdrop-filter: blur(6px);
        }
        #checklist {
            list-style-type: none;
            padding: 0;
        }
        
        #checklist li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px;
            cursor: pointer;
        }
        
        #checklist li.completed {
            text-decoration: line-through;
            color: gray;
        }
        
        button {
            margin-left: 10px;
        }
        #checklist li button {
            border: none; /* Remove default border */
            background-color: rgba(255, 0, 0, 0.6); /* Red background */
            color: white; /* Text color */
            border-radius: 10px; /* Make it circular */
            width: 25px; /* Set width */
            height: 25px; /* Set height */
            cursor: pointer; /* Change cursor on hover */
            display: flex; /* Center text */
            align-items: center; /* Center vertically */
            justify-content: center; /* Center horizontally */
        }
        
        #checklist li button:hover {
            background-color: rgba(255, 0, 0, 0.8); /* Darker on hover */
        }
        #profilingTop {
            position: fixed; /* Keep it fixed on the screen */
            top: 10px; /* Adjust vertical position */
            right: 10px; /* Adjust horizontal position */
            z-index: 1000; /* Ensure it stays above other content */
        }
        
        #profilingTop button {
            border-radius: 20px; /* Make it rounded */
            background-color: rgba(255, 255, 255, 0.8); /* Button background */
            color: black; /* Button text color */
            padding: 10px 15px; /* Button padding */
            border: none; /* Remove default border */
            cursor: pointer; /* Pointer cursor on hover */
            transition: background-color 0.3s; /* Smooth background transition */
        }
        
        #profilingTop button:hover {
            background-color: rgba(255, 255, 255, 1); /* Change background on hover */
        }
        #profileModal {
            display: none;
            position: fixed; /* Fixed position */
            top: 50%; /* Center vertically */
            left: 50%; /* Center horizontally */
            transform: translate(-50%, -50%); /* Adjust to center */
            width: 400px; /* Fixed width */
            height: 300px; /* Fixed height */
            background: white;
            border-radius: 15px;
            padding: 20px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
            z-index: 1000;
            color: black;
            overflow-y: auto;
        }
        #usernameInput {
          border-radius: 10px;
          border-style: none;
          padding: 10px;
          background-color: rgba(0, 0, 0, 0.1);
          margin-bottom: 10px;
        }
        #profilePicture {
          padding: 10px 15px; /* Button padding */
          border: none; /* Remove default border */
          cursor: pointer; /* Pointer cursor on hover */
          transition: background-color 0.3s; /* Smooth background transition */
        }
        #imageUrlInput {
          border-radius: 10px;
          border-style: none;
          padding: 10px;
          background-color: rgba(0, 0, 0, 0.1);
          margin-bottom: 10px;
        }
        #profilePicture {
            position: fixed; /* Fixes the position relative to the viewport */
            top: 1px; /* Adjust the vertical position */
            left: 1px; /* Adjust the horizontal position */
            width: 50px; /* Set desired width */
            height: 50px; /* Set desired height */
            border-radius: 50%; /* Keep it circular */
            z-index: 1000; /* Ensure it stays above other content */
        }
        #pomodoroTimer {
            background: rgba(255, 255, 255, 0.2);
            padding: 20px;
            border-radius: 15px;
            margin-top: 20px;
            background-filter: blur(6px);
        }
        #pomodoroDisplay {
            font-size: 3rem;
            margin-bottom: 20px;
        }
        button {
            padding: 10px 20px;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            margin: 5px;
        }
        /* For WebKit browsers (Chrome, Safari) */
        ::-webkit-scrollbar {
            width: 12px; /* Width of the scrollbar */
            border-radius: 10px;
        }
        
        ::-webkit-scrollbar-track {
            background: rgba(255, 255, 255, 0.1); /* Background of the scrollbar track */
            border-radius: 10px;
        }
        
        ::-webkit-scrollbar-thumb {
            background: rgba(0, 0, 0, 0.5); /* Color of the scrollbar thumb */
            border-radius: 10px; /* Rounded corners */
        }
        
        ::-webkit-scrollbar-thumb:hover {
            background: rgba(0, 0, 0, 0.8); /* Color of the scrollbar thumb on hover */
        }
        
        /* For Firefox */
        * {
            scrollbar-width: thin; /* Thin scrollbar */
            scrollbar-color: rgba(0, 0, 0, 0.5) rgba(255, 255, 255, 0.1); /* Thumb color and track color */
        }
        body.default {
            background-color: rgb(43, 43, 43);
            color: white;
        }
        
        body.dark {
            background-color: black;
            color: white;
        }
        
        body.light {
            background-color: white;
            color: black;
        }
        body.light .stopwatch-btn,
        body.light .timer-btn,
        body.light .notesSave,
        body.light .reset-btn,
        body.light select {
            border: 0.5px solid black; /* Black border for buttons and drop-downs */
        }
        
        #themeSelector {
            margin: 20px;
        }
        body.softGray {
            background-color: #f0f0f0; /* Soft gray background */
            color: #333; /* Dark text for contrast */
        }
        
        body.marble {
            background: url('https://assets.onecompiler.app/436ps8vhb/436rff2bg/white-marble-texture-gray-marble-natural-pattern-wallpaper-high-quality-can-be-used-as-background-for-display-or-montage-your-top-view-products-or-wall-photo.jpg'); /* Marble texture */
            color: #333; /* Dark text for contrast */
        }
        
        body.softGray .stopwatch-btn,
        body.softGray .timer-btn,
        body.softGray .notesSave,
        body.softGray .reset-btn,
        body.softGray select,
        body.marble .stopwatch-btn,
        body.marble .timer-btn,
        body.marble .notesSave,
        body.marble .reset-btn,
        body.marble select {
            border: 0.5px solid black; /* Black border for buttons and drop-downs */
        }
        body.hardGray {
          background-color: rgb(84, 84, 84);
          color: white;
        }
        body.midnight {
          background-color: rgb(11, 14, 20);
          color: white;
        }
        body.retro {
            background-color: black;
            color: rgb(89, 255, 0);
        }
        body.retro .stopwatch-btn,
        body.retro .timer-btn,
        body.retro .notesSave,
        body.retro .reset-btn,
        body.retro select {
            border: 0.5px solid rgb(89, 255, 0); /* Black border for buttons and drop-downs */
        }
        body.horror {
          background-color: rgb(0, 0, 0);
          color: rgb(158, 116, 109);
        }
        body.christmas {
          background-color: rgb(21, 46, 19);
          color: rgb(201, 18, 18);
        }
        body.halloween {
          background-color: black;
          color: rgb(247, 87, 7);
        }
        body.valentine {
          background-color: rgb(245, 81, 105);
          color: rgb(156, 2, 24);
        }
        body.offWhite {
          background-color: rgb(255, 255, 247);
          color: black;
        }
        body.default #timer,
        body.default #stopwatch,
        body.default #timerDisplay {
            background: rgba(255, 255, 255, 0.5);
            backdrop-filter: blur(0px);
        }